body{
    font-family: 'Open Sans', sans-serif;

}
.banner-container{
    background-color: #cacaca;
}

.banner-col{
    background-color: #8d8d8d ;
}

.navbar-container{
    background-color: #262837;
}

.abt-background{
    background-color: aqua;
}
.pro-pic{
    height: 250px;
    width: 250px;
}
.text-all{
    text-align: justify;
}