body{
    font-family: 'Open Sans', sans-serif;

}
.banner-container{
    background-color: #cacaca;
}

.banner-col{
    background-color: #8d8d8d ;
}

.navbar-container{
    top: 0;
    background-color: #262837;
    position: sticky;
    z-index: 2;
}

.abt-background{
    background-color: aqua;
}
.pro-pic{
    height: 250px;
    width: 250px;
}
.text-all{
    text-align: justify;
}
.about-container{
    background-color: #00BDBD;
}
.edu-container{
    background-color: #eeeeee;
}

.edu-box-color{
    background-color: #FB857F;
}
.edu-box-text-color{
    color: #FB857F;
}
.circle{
    background-color:#FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.porject-container{
    background-color: #2BB0DE;
}
.pic-size{
    width: 160px;
    height: 110px;
    
}
.text-jus{
    text-align: justify;
    text-decoration: none;
}